@mixin base-font() {
  font-style: normal;
  font-weight: normal;
  font-family: "Lato Normal", sans-serif;
}
@mixin selectBorder {
  border: none;
  border-bottom: 1px solid rgba(85,85,85, 0.38);
  border-radius: 0;
}

@mixin title() {
  @include base-font();
  font-size: 23px;
  color: #00759E;
}

@mixin popup-title() {
  @include base-font();
  font-size: 20px;
  color: #2C2B2B;
}

@mixin normal() {
  @include base-font();
  font-size: 13px;
  color: #2C2B2B;
}

@mixin normal--thin() {
  @include normal();
  font-weight: 300;
}

