// Colors

$light_calendar_border_grey: #EEEEEE;
$light_background_grey: #F5F6F7;
$border_grey: rgba(85,85,85, 0.38);

$white: #FFFFFF;
$black: #34475A;
$font_black: #2C2B2B;
$dark-grey: #555555;
$grey: #B3B3B3;
$light_grey: #E1E1E1;
$yellow: #FFD205;
$green: #01B875;
$red: #E7472D;
$light_red: #E97977;
$blue: #A1A2FF;
$link_blue: #207DA5;
$color_modal: #252424;

$hover_icon_blue: #185C79;
$hover_icon_light_blue: #52A9FF;
$hover_cell_blue: #52A9FF;
$header_blue: #00759E;

$market_high: #39B54A;
$market_med-high: #8ADA8D;
$market_med-low: #C4F3C4;
$market_poor: #F14950;

$star_color: #2CACE2;
$my-hotel_color: #00759E;

$popup_header_color: #B4C9D2;

$menu_active_color: #f3f3f3;

// Sizes

$header_height: 68px;
