@font-face {
  font-family: 'Lato-Light';
  src: url('lato-light/lato-light.eot');
  src: local('Lato Light'), local('Lato-Light'),
  url('lato-light/lato-light.eot?#iefix') format('embedded-opentype'),
  url('lato-light/lato-light.woff2') format('woff2'),
  url('lato-light/lato-light.woff') format('woff'),
  url('lato-light/lato-light.ttf') format('truetype'),
  url('lato-light/lato-light.svg#lato') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('lato-regular/lato-regular.eot');
  src: local('Lato Regular'), local('Lato-Regular'),
  url('lato-regular/lato-regular.eot?#iefix') format('embedded-opentype'),
  url('lato-regular/lato-regular.woff2') format('woff2'),
  url('lato-regular/lato-regular.woff') format('woff'),
  url('lato-regular/lato-regular.ttf') format('truetype'),
  url('lato-regular/lato-regular.svg#lato') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Bold';
  src: url('lato-bold/lato-bold.eot');
  src: local('Lato Bold'), local('Lato-Bold'),
  url('lato-bold/lato-bold.eot?#iefix') format('embedded-opentype'),
  url('lato-bold/lato-bold.woff2') format('woff2'),
  url('lato-bold/lato-bold.woff') format('woff'),
  url('lato-bold/lato-bold.ttf') format('truetype'),
  url('lato-bold/lato-bold.svg#lato') format('svg');
  font-weight: 700;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
