@font-face {
  font-family: 'Lato-Light';
  src: url('lato-light/lato-light.eot');
  src: local('Lato Light'), local('Lato-Light'),
  url('lato-light/lato-light.eot?#iefix') format('embedded-opentype'),
  url('lato-light/lato-light.woff2') format('woff2'),
  url('lato-light/lato-light.woff') format('woff'),
  url('lato-light/lato-light.ttf') format('truetype'),
  url('lato-light/lato-light.svg#lato') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('lato-regular/lato-regular.eot');
  src: local('Lato Regular'), local('Lato-Regular'),
  url('lato-regular/lato-regular.eot?#iefix') format('embedded-opentype'),
  url('lato-regular/lato-regular.woff2') format('woff2'),
  url('lato-regular/lato-regular.woff') format('woff'),
  url('lato-regular/lato-regular.ttf') format('truetype'),
  url('lato-regular/lato-regular.svg#lato') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Bold';
  src: url('lato-bold/lato-bold.eot');
  src: local('Lato Bold'), local('Lato-Bold'),
  url('lato-bold/lato-bold.eot?#iefix') format('embedded-opentype'),
  url('lato-bold/lato-bold.woff2') format('woff2'),
  url('lato-bold/lato-bold.woff') format('woff'),
  url('lato-bold/lato-bold.ttf') format('truetype'),
  url('lato-bold/lato-bold.svg#lato') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('icomoon/icomoon.eot?iloxyg');
  src:  url('icomoon/icomoon.eot?iloxyg#iefix') format('embedded-opentype'),
    url('icomoon/icomoon.ttf?iloxyg') format('truetype'),
    url('icomoon/icomoon.woff?iloxyg') format('woff'),
    url('icomoon/icomoon.svg?iloxyg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-New-BTN:before {
  content: "\e999";
}
.icon-graph:before {
  content: "\e995";
  color: #555;
}
.icon-calendar:before {
  content: "\e996";
  color: #555;
}
.icon-view:before {
  content: "\e997";
  color: #555;
}
.icon-list-new-01:before {
  content: "\e998";
  color: #555;
}
.icon-time-outline:before {
  content: "\e991";
  color: #555;
}
.icon-musical-notes-outline-01:before {
  content: "\e993";
  color: #555;
}
.icon-star-01:before {
  content: "\e994";
  color: #555;
}
.icon-Event-calendar:before {
  content: "\e992";
}
.icon-people:before {
  content: "\e98d";
  color: #555;
}
.icon-bicycle-outline:before {
  content: "\e98f";
  color: #555;
}
.icon-location-01:before {
  content: "\e990";
  color: #555;
}
.icon-pizza:before {
  content: "\e98e";
  color: #555;
}
.icon-Promotions-tooltip-circle:before {
  content: "\e98c";
}
.icon-New-promotions-booking:before {
  content: "\e98a";
}
.icon-Promotion-expedia:before {
  content: "\e98b";
}
.icon-TR-Icon:before {
  content: "\e989";
}
.icon-Penalty_menu:before {
  content: "\e988";
}
.icon-icons_Preferred:before {
  content: "\e985";
}
.icon-icons_Promotions:before {
  content: "\e986";
}
.icon-icons_Promotions-with-tooltip:before {
  content: "\e987";
}
.icon-plus-CI:before {
  content: "\e984";
}
.icon-Booking-CI .path1:before {
  content: "\e980";
  color: rgb(0, 0, 0);
}
.icon-Booking-CI .path2:before {
  content: "\e981";
  margin-left: -1em;
  color: rgb(211, 211, 211);
}
.icon-Booking-CI .path3:before {
  content: "\e982";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Booking-CI .path4:before {
  content: "\e983";
  margin-left: -1em;
  color: rgb(4, 0, 0);
}

.icon-LOGO-CI:before {
  content: "\e96f";
}

.icon-Apps-icon:before {
  content: "\e966";
}

.icon-Apps-icon-menu:before {
  content: "\e966";
  color: white;
  font-size: 20px;
}

.icon-CI_events-icon:before {
  content: "\e95a";
  color: grey;
  opacity: 0.7;
}

.icon-CI_Events:before {
  content: "\e95b";
}
.icon-CI_Events-menu:before {
  content: "\e95b";
  color: white;
  font-size: 20px;
}
.icon-CI_Events-menu:before {
  content: "\e95b";
  color: white;
  font-size: 20px;
}

.icon-CI_excel-icon:before {
  content: "\e95c";
  font-size: 17px;
}
.icon-CI_Graph-icon:before {
  content: "\e95d";
  font-size: 17px;
}
.icon-CI_Rateshopper:before {
  content: "\e95e";
}
.icon-CI_Rateshopper-menu:before {
  content: "\e95e";
  color: white;
  font-size: 20px;
}
.icon-CI_refresh-icon:before {
  content: "\e95f";
  font-size: 17px;
}
.icon-CI_Reviews:before {
  content: "\e960";
}
.icon-CI_Reviews-menu:before {
  content: "\e960";
  color: white;
  font-size: 20px;
}
.icon-CI_table-icon:before {
  content: "\e961";
  font-size: 17px;
}
.icon-CI_visibility:before {
  content: "\e962";
}
.icon-CI_Clander-icon:before {
  content: "\e963";
  font-size: 17px;
}
.icon-Promotions-New:before {
  content: "\e959";
}
.icon-Promotions:before {
  content: "\e955";
}
.icon-Classification-new:before {
  content: "\e954";
}
.icon-Genius:before {
  content: "\e953";
}
.icon-Filter-Hover:before {
  content: "\e956";
}
.icon-Filter-press:before {
  content: "\e957";
}
.icon-Classification:before {
  content: "\e958";
}
.icon-Additional-insights:before {
  content: "\e952";
}
.icon-POS-comparison:before {
  content: "\e950";
  color: #565656;
}
.icon-Knowledege-icon:before {
  content: "\e94f";
}
.icon-circle:before {
  content: "\e94e";
}
.icon-ecommerce:before {
  content: "\e951";
}
.icon-e-commerce:before {
  content: "\e94d";
}
.icon-preferences:before {
  content: "\e949";
}
.icon-print:before {
  content: "\e94a";
}
.icon-search:before {
  content: "\e94b";
}
.icon-download:before {
  content: "\e94c";
}
.icon-Circles:before {
  content: "\e948";
}
.icon-Icons_mail-full-01-01:before {
  content: "\e947";
}
.icon-Support:before {
  content: "\e946";
}
.icon-Circle:before {
  content: "\e920";
}
.icon-chat:before {
  content: "\e921";
}
.icon-filter:before {
  content: "\e945";
}
.icon-Reshop_OTA-NA .path1:before {
  content: "\e900";
  color: rgb(0, 0, 0);
}
.icon-Reshop_OTA-NA .path2:before {
  content: "\e901";
  margin-left: -0.6572265625em;
  color: rgb(0, 0, 0);
}
.icon-Reshop_OTA-NA .path3:before {
  content: "\e92d";
  margin-left: -0.6572265625em;
  color: rgb(0, 0, 0);
}
.icon-Reshop_OTA-NA .path4:before {
  content: "\e934";
  margin-left: -0.6572265625em;
  color: rgb(0, 0, 0);
}
.icon-Reshop_OTA-NA .path5:before {
  content: "\e935";
  margin-left: -0.6572265625em;
  color: rgb(186, 186, 186);
}
.icon-Reshop_BRAND-NA .path1:before {
  content: "\e937";
  color: rgb(0, 0, 0);
}
.icon-Reshop_BRAND-NA .path2:before {
  content: "\e938";
  margin-left: -1.1455078125em;
  color: rgb(0, 0, 0);
}
.icon-Reshop_BRAND-NA .path3:before {
  content: "\e93a";
  margin-left: -1.1455078125em;
  color: rgb(0, 0, 0);
}
.icon-Reshop_BRAND-NA .path4:before {
  content: "\e93d";
  margin-left: -1.1455078125em;
  color: rgb(0, 0, 0);
}
.icon-Reshop_BRAND-NA .path5:before {
  content: "\e93e";
  margin-left: -1.1455078125em;
  color: rgb(0, 0, 0);
}
.icon-Reshop_BRAND-NA .path6:before {
  content: "\e940";
  margin-left: -1.1455078125em;
  color: rgb(0, 0, 0);
}
.icon-Reshop_BRAND-NA .path7:before {
  content: "\e942";
  margin-left: -1.1455078125em;
  color: rgb(186, 186, 186);
}
.icon-Reshop_BML .path1:before {
  content: "\e943";
  color: rgb(0, 0, 0);
}
.icon-Reshop_BML .path2:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(186, 186, 186);
}
.icon-Reshop_Action:before {
  content: "\e93f";
}
.icon-Reshop_Loading:before {
  content: "\e941";
}
.icon-expend:before {
  content: "\e93b";
}
.icon-collapse:before {
  content: "\e93c";
}
.icon-Arrow-Circle:before {
  content: "\e939";
}
.icon-info_tooltip:before {
  content: "\e936";
  font-size: 17px;
  cursor: pointer;
}
.icon-svg-3rd-party:before {
  content: "\e933";
}
.icon-Meta-analysis:before {
  content: "\e92c";
}
.icon-brand-on-meta:before {
  content: "\e92c";
}
.icon-Brand-connectivity-issues:before {
  content: "\e92e";
}
.icon-Brandcom-sold-out:before {
  content: "\e92f";
}
.icon-Latency:before {
  content: "\e930";
}
.icon-Market-Visibility:before {
  content: "\e931";
}
.icon-Member-rates-comparison:before {
  content: "\e932";
}
.icon-Direct_icon_menu:before {
  content: "\e902";
}
.icon-Icons_link:before {
  content: "\e903";
}
.icon-Icons_action:before {
  content: "\e904";
}
.icon-Icons_Autorized:before {
  content: "\e905";
}
.icon-Icons_Availability-issues:before {
  content: "\e906";
}
.icon-AIO:before {
  content: "\e906";
}
.icon-AIB:before {
  content: "\e906";
}
.icon-Icons_Bookmark-and-Comments:before {
  content: "\e907";
}
.icon-Icons_connectivty-issues:before {
  content: "\e908";
}
.icon-MIO:before {
  content: "\e908";
}
.icon-Icons_Distribution-health-score:before {
  content: "\e909";
}
.icon-Icons_fornova-logo:before {
  content: "\e90a";
}
.icon-Icons_Info:before {
  content: "\e90b";
}
.icon-Icons_loading:before {
  content: "\e90c";
}
.icon-Icons_Market-visibility:before {
  content: "\e90d";
}
.icon-Icons_Meta-Issues:before {
  content: "\e90e";
}
.icon-MIB:before {
  content: "\e90e";
}
.icon-Icons_My-Performace-num:before {
  content: "\e90f";
}
.icon-Icons_Qusetion-mark:before {
  content: "\e910";
}
.icon-Icons_Unautorized-OTA:before {
  content: "\e911";
}
.icon-Icons_Uncontracted-OTA-issues:before {
  content: "\e912";
}
.icon-UOIU:before {
  content: "\e912";
}
.icon-Icons_comment-01:before {
  content: "\e913";
}
.icon-Icons_resolved-01:before {
  content: "\e914";
}
.icon-Icons_mail-01:before {
  content: "\e915";
}
.icon-Icons_bookmark-01:before {
  content: "\e916";
}
.icon-Icons_cug:before {
  content: "\e917";
}
.icon-Icons_Test-Reservation:before {
  content: "\e918";
}
.icon-flag-01:before {
  content: "\e919";
}
.icon-Icons_bookmark-full-01:before {
  content: "\e91a";
}
.icon-Icons_Test-Reservation-full-01:before {
  content: "\e91b";
}
.icon-X-01:before {
  content: "\e91c";
}
.icon-Icons_comment-full-01-01:before {
  content: "\e91d";
}
.icon-fornova:before {
  content: "\e91e";
}
.icon-alarm-01:before {
  content: "\e91f";
}
.icon-authorize-01:before {
  content: "\e922";
}
.icon-dashboard-01:before {
  content: "\e923";
}
.icon-focus-01:before {
  content: "\e924";
}
.icon-home-01-menu:before {
  content: "\e925";
  color: white;
  font-size: 20px;
}
.icon-Leakage-01:before {
  content: "\e926";
}
.icon-Icons_resolved-full-01-01:before {
  content: "\e927";
}
.icon-question-icon-01:before {
  content: "\e928";
}
.icon-score-01:before {
  content: "\e929";
}
.icon-Arrow-for-menu-01:before {
  content: "\e92a";
}
.icon-Icons_Support:before {
  content: "\e92b";
}
.icon-bullhorn:before {
  content: "\e964";
}
.icon-bullhorn-menu:before {
  content: "\e964";
  color: white;
  font-size: 20px;
}
.icon-coin-dollar:before {
  content: "\e965";
}
